@charset "UTF-8";

header#cabecalho h1#titulo {
	position: absolute;
	left: 450px;
	top: 0px ;
	font-family: 'Fredoka One', cursive;
	font-size: 70pt;
	color: #ffffff;
	text-shadow: 1px 1px 1px black;
	margin: 20px 20px 20px 20px;

}

header#cabecalho a{
	color: #ffffff;
	text-decoration: none;
}
header#cabecalho h2#pesquisa {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 15pt;
	text-align: center;
	height: 40px;
	width: 300px;
	left: 520px;
	top: 300px;
	border-radius: 5px;
	background-color: #0f3b7a;
	box-shadow: 2px 2px 2px black;
} 
header#cabecalho h2#pesquisa:hover {
	background-color: #10161f;
	transition: background-color 1s;
}
header#cabecalho h2#acervo {
	position: relative;
	text-align: center;
	font-size: 15pt;
	font-family: 'Roboto', sans-serif;
	border-radius: 5px;
	left: 520px;
	top: 290px;
	height: 40px;
	width: 300px;
	background-color: #0f3b7a;
	box-shadow: 2px 2px 2px black;
}
header#cabecalho h2#acervo:hover {
	background-color: #10161f;
	transition: background-color 1s;
}

nav#menu ul {
	list-style: none;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	font-size: 15pt;
	top: 130px;
	left: 280px;

}
nav#menu li {
	display: inline-block;
	background-color: #0f3b7a;
	padding: 7px 55px;
	margin: -10px;
	box-shadow: 1px 1px 0.2px black;
	transition: background-color 1s;
	border-radius: 3px; 
}
nav#menu li:hover {
	background-color: #10161f;
}
nav#menu h1{
	display: none;
}
nav#menu a {
	color: #ffffff;
	text-decoration: none;
}
