@charset "UTF-8";

header#cabecalho h1#titulo {
	position: absolute;
	text-align: center;
	left: 300px;
	top: 0px ;
	font-family: 'Fredoka One', cursive;
	font-size: 70pt;
	color: #ffffff;
	text-shadow: 1px 1px 1px black;
	margin: 20px 20px 20px 20px;

}

nav#menu ul {
	list-style: none;
	font-family: 'Roboto', sans-serif;
	position: absolute;
	font-size: 15pt;
	top: 150px;
	left: 360px;

}
nav#menu li {
	display: inline-block;
	background-color: #0f3b7a;
	padding: 7px 40px;
	margin: -10px;
	box-shadow: 1px 1px 0.2px black;
	transition: background-color 1s;
	border-radius: 3px; 
}
nav#menu li:hover {
	background-color: #10161f;
}
nav#menu h1{
	display: none;
}
nav#menu a {
	color: #ffffff;
	text-decoration: none;
}


form {
	position: relative;
	left: 370px;
	top: 300px;
}

input {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 18pt;
	background-color: #ffffff;
	border-radius: 10px;
}

input#cNome {
	width: 490px;
	height: 40px;
	position: relative;
	left: 30px;
	top: -80px;
	margin: 5px;
}
input#cAut {
	width: 490px;
	height: 40px;
	position: relative;
	left: 30px;
	top: -80px;
	margin: 5px;
}
input#cCod {
	width: 490px;
	height: 40px;
	position: relative;
	left: 30px;
	top: -80px;
	margin: 5px;
}
input#cEnv {
	width: 280px;
	border-radius: 5px;
	height: 40px;
	position: relative;
	left: 150px;
	top: -15px;
}